@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #D5E1EF;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    letter-spacing: 0.19px;
    line-height: 142%;
}

.container {
    position: relative;
    width: 320px;
    height: 497px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    background: #fff;
    border-radius: 20px;
}

.imgGrid img {
    width: 288px;
    height: 288px;
    border-radius: 20px;
}

.Content {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    flex-direction: column;
}